{% extends 'base.html.twig' %}

{% block title %}Rendezvous index{% endblock %}

{% block body %}
    <h1>Rendezvous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Appointment_date</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvou in rendezvouses %}
            <tr>
                <td>{{ rendezvou.id }}</td>
                <td>{{ rendezvou.appointmentDate ? rendezvou.appointmentDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendezvou.status }}</td>
                <td>{{ rendezvou.notes }}</td>
                <td>{{ rendezvou.createdAt ? rendezvou.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_rendezvous_show', {'id': rendezvou.id}) }}">show</a>
                    <a href="{{ path('app_rendezvous_edit', {'id': rendezvou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rendezvous_new') }}">Create new</a>
{% endblock %}
